{
	"api_key" : "ANN21iCpu7BhdWVrmZqQqcmsB",
	"api_secret" : "811HhPr0wZEll7MwPU8pPQAfFTnScQnWCHIkQdRvxPBVnCfMfU",
	"access_key" : "1253249374747947010-HZZRQJ6jLZEMTqmWQUsywEsBmVtT0Q",
	"access_secret" : "rGx8FG4JTA4UEtIqYEIfhFQg78lQHlC31HNjEKyZi5q6U",
	"url" : "http://admin:admin@{{hostvars[ansible_host]['groups']['dbMaster'][0]}}:5984",
	"locations" : "111.8,-44.6,155.1,-10.8"
}