#! /usr/bin/env python3
import couchdb

states = ['southern', 'western', 'vic', 'nsw', 'tas', 'queens']
db = couchdb.Server('http://admin:admin@{{hostvars[ansible_host]['groups']['dbMaster'][0]}}:5984/')
for state in states:
    try:
        db.create(state)
    except:
        print("database has already existed")
        continue

